## Data Source

https://api.covid19india.org/

## Import libraries

In [1]:
# to get web contents
import requests
# to parse json contents
import json
# to parse csv files
import csv

# for numerical operations
import numpy as np
# to store and analysis data in dataframes
import pandas as pd

## Get data

### df_1 - Till Apr 19

In [2]:
# df_1 - Till Apr 19
# ==================

# get response from the web page
response = requests.get('https://api.covid19india.org/raw_data1.json')
# get contents from the response
content = response.content
# parse the json file
parsed = json.loads(content)
# keys
parsed.keys()

dict_keys(['raw_data'])

In [3]:
# save to df
df_1 = pd.DataFrame(parsed['raw_data'])

# shape of the dataframe
print(df_1.shape)

# # list of columns
print(df_1.columns)

# # first few rows
# df_1.head(2)

(17364, 21)
Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'numcases', 'patientnumber', 'source1', 'source2', 'source3',
       'statecode', 'statepatientnumber', 'statuschangedate',
       'typeoftransmission'],
      dtype='object')

### df_2 - Till Apr 26

In [4]:
# df_2 - Till Apr 26
# ==================

# get response from the web page
response = requests.get('https://api.covid19india.org/raw_data2.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['raw_data'])

In [5]:
# save to df
df_2 = pd.DataFrame(parsed['raw_data'])

# shape of the dataframe
print(df_2.shape)

# # list of columns
print(df_2.columns)

# # first few rows
# df_2.head(2)

(10819, 21)
Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'numcases', 'patientnumber', 'source1', 'source2', 'source3',
       'statecode', 'statepatientnumber', 'statuschangedate',
       'typeoftransmission'],
      dtype='object')

### df_3 - Till May 09

In [6]:
# df_3 - Live
# ===========

# get response from the web page
response = requests.get('https://api.covid19india.org/raw_data3.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['raw_data'])

In [7]:
# save to df
df_3 = pd.DataFrame(parsed['raw_data'])

# shape of the dataframe
print(df_3.shape)

# # list of columns
print(df_3.columns)

# # first few rows
# df_3.head(2)

(10020, 20)
Index(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus',
       'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate',
       'entryid', 'gender', 'nationality', 'notes', 'numcases',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

In [8]:
# np.setdiff1d(df_1.columns, df_3.columns)

### df_4 - Till May 23

In [9]:
# df_4 - Live
# ===========

# get response from the web page
response = requests.get('https://api.covid19india.org/raw_data4.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['raw_data'])

In [10]:
# save to df
df_4 = pd.DataFrame(parsed['raw_data'])

# shape of the dataframe
print(df_4.shape)

# # list of columns
print(df_4.columns)

# # first few rows
# df_4.head(2)

(18220, 20)
Index(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus',
       'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate',
       'entryid', 'gender', 'nationality', 'notes', 'numcases',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

### df_5 - Live

In [11]:
# df_5 - Live
# ===========

# get response from the web page
response = requests.get('https://api.covid19india.org/raw_data5.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['raw_data'])

In [12]:
# save to df
df_5 = pd.DataFrame(parsed['raw_data'])

# shape of the dataframe
print(df_5.shape)

# # list of columns
print(df_5.columns)

# # first few rows
# df_5.head(2)

(20438, 20)
Index(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus',
       'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate',
       'entryid', 'gender', 'nationality', 'notes', 'numcases',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

### full data

In [13]:
# full data
# =========

# drop unwanted rows
# df_1 = df_1.drop('_dnp34', axis = 1)
df_3 = df_3.drop(['entryid', 'numcases'], axis = 1)

# rename columns
# df_3 = df_3.rename({'entryid' : 'patientnumber'})

# columns
df_3.columns

Index(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus',
       'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate',
       'gender', 'nationality', 'notes', 'patientnumber', 'source1', 'source2',
       'source3', 'statecode', 'statepatientnumber', 'statuschangedate',
       'typeoftransmission'],
      dtype='object')

In [14]:
# df_3[['entryid', 'patientnumber']]

In [15]:
# concatenate data
df = pd.concat([df_1, df_2, df_3, df_4, df_5])

# shape of the data
df.shape

(76861, 22)

In [16]:
# list of columns
df.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'numcases', 'patientnumber', 'source1', 'source2', 'source3',
       'statecode', 'statepatientnumber', 'statuschangedate',
       'typeoftransmission', 'entryid'],
      dtype='object')

In [17]:
# first 3 rows of the dataframe
df.head(3)

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,...,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission,entryid
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,...,1,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported,NaN
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,...,1,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported,NaN
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,...,1,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported,NaN

In [18]:
# creating patient id column from patient number
# ===============================================

df['p_id'] = df['patientnumber'].apply(lambda x : 'P'+str(x))
df.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'numcases', 'patientnumber', 'source1', 'source2', 'source3',
       'statecode', 'statepatientnumber', 'statuschangedate',
       'typeoftransmission', 'entryid', 'p_id'],
      dtype='object')

## Rearrange and rename columns

In [19]:
# order of columns
cols = ['patientnumber', 'p_id', 'statepatientnumber', 
        'dateannounced', 'agebracket', 'gender', 
        'detectedcity', 'detecteddistrict', 'detectedstate', 'statecode', 'nationality',
        'typeoftransmission', 'contractedfromwhichpatientsuspected',
        'statuschangedate', 'currentstatus', 'estimatedonsetdate',
        'source1', 'source2', 'source3', 'notes', 'backupnotes']

# rearrange columns
df = df[cols]

# rename columns
df.columns = ['patient_number', 'p_id', 'state_patient_number', 
              'date_announced', 'age_bracket', 'gender', 
              'detected_city', 'detected_district', 'detected_state', 'state_code', 'nationality',
              'type_of_transmission', 'contracted_from_which_patient_suspected',
              'status_change_date', 'current_status', 'estimated_onset_date',
              'source1', 'source2', 'source3', 'notes', 'backup_notes']

# dataframe shape
df.shape

(76861, 21)

In [20]:
# first 3 rows of the dataframe
df.head(3)

,patient_number,p_id,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,...,type_of_transmission,contracted_from_which_patient_suspected,status_change_date,current_status,estimated_onset_date,source1,source2,source3,notes,backup_notes
0,1,P1,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,KL,...,Imported,,14/02/2020,Recovered,,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,Travelled from Wuhan,Student from Wuhan
1,2,P2,KL-AL-P1,02/02/2020,,,Alappuzha,Alappuzha,Kerala,KL,...,Imported,,14/02/2020,Recovered,,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,Travelled from Wuhan,Student from Wuhan
2,3,P3,KL-KS-P1,03/02/2020,,,Kasaragod,Kasaragod,Kerala,KL,...,Imported,,14/02/2020,Recovered,,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Travelled from Wuhan,Student from Wuhan

## Missing values

In [21]:
# no. of empty values in each column
# ==================================

print(df.shape, '\n')

for i in df.columns:
    print(i, '\t', df[df[i]==''].shape[0])

(76861, 21)

patient_number 	 491
p_id 	 0
state_patient_number 	 61306
date_announced 	 0
age_bracket 	 46110
gender 	 43450
detected_city 	 71657
detected_district 	 7513
detected_state 	 8
state_code 	 8
nationality 	 74152
type_of_transmission 	 73871
contracted_from_which_patient_suspected 	 74939
status_change_date 	 49081
current_status 	 2
estimated_onset_date 	 28183
source1 	 1456
source2 	 72399
source3 	 76367
notes 	 43246
backup_notes 	 27822

In [22]:
# no. of non-empty values in each column
# ===================================

print(df.shape, '\n')

for i in df.columns:
    print(i, '\t', df[df[i]!=''].shape[0])

(76861, 21)

patient_number 	 76370
p_id 	 76861
state_patient_number 	 15555
date_announced 	 76861
age_bracket 	 30751
gender 	 33411
detected_city 	 5204
detected_district 	 69348
detected_state 	 76853
state_code 	 76853
nationality 	 2709
type_of_transmission 	 2990
contracted_from_which_patient_suspected 	 1922
status_change_date 	 27780
current_status 	 76859
estimated_onset_date 	 48678
source1 	 75405
source2 	 4462
source3 	 494
notes 	 33615
backup_notes 	 49039

In [23]:
# replacing empty strings with np.nan
# ==================================-

print(df.shape)

df = df.replace(r'', np.nan, regex=True)
df.isna().sum()

(76861, 21)

patient_number                               491
p_id                                           0
state_patient_number                       61306
date_announced                                 0
age_bracket                                46110
gender                                     43450
detected_city                              71657
detected_district                           7513
detected_state                                 8
state_code                                     8
nationality                                74152
type_of_transmission                       73871
contracted_from_which_patient_suspected    74939
status_change_date                         49081
current_status                                 2
estimated_onset_date                       76861
source1                                     1456
source2                                    72399
source3                                    76367
notes                                      43246
backup_notes                               76500
dtype: int64

In [24]:
# droping empty rows (row with just row number but without patient entry
# ======================================================================

print(df.shape)

# df.dropna(subset=['detected_state'], inplace=True)

print(df.shape)
df.isna().sum()

(76861, 21)
(76861, 21)

patient_number                               491
p_id                                           0
state_patient_number                       61306
date_announced                                 0
age_bracket                                46110
gender                                     43450
detected_city                              71657
detected_district                           7513
detected_state                                 8
state_code                                     8
nationality                                74152
type_of_transmission                       73871
contracted_from_which_patient_suspected    74939
status_change_date                         49081
current_status                                 2
estimated_onset_date                       76861
source1                                     1456
source2                                    72399
source3                                    76367
notes                                      43246
backup_notes                               76500
dtype: int64

## Save data

In [25]:
# save to csv`
df.to_csv('patients_data.csv', index=False)

# State tested data

In [26]:
# get response from the web page
response = requests.get('https://api.covid19india.org/state_test_data.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['states_tested_data'])

In [27]:
# save data in a dataframe
th = pd.DataFrame(parsed['states_tested_data'])

# first few rows
th.tail(3)

,coronaenquirycalls,cumulativepeopleinquarantine,negative,numcallsstatehelpline,numicubeds,numisolationbeds,numventilators,populationncp2019projection,positive,source1,...,testsperpositivecase,testsperthousand,totaln95masks,totalpeoplecurrentlyinquarantine,totalpeoplereleasedfromquarantine,totalppe,totaltested,unconfirmed,updatedon,_d415a
1819,,,,,920,,392,96906000,7303,https://www.wbhealth.gov.in/uploaded_files/cor...,...,34,2.60,671040,23077,59700,1216262,251517,,05/06/2020,NaN
1820,,,,,920,,392,96906000,7738,https://www.wbhealth.gov.in/uploaded_files/cor...,...,34,2.70,677040,22669,63450,1232262,261288,,06/06/2020,NaN
1821,,,,,920,,392,,8187,https://www.wbhealth.gov.in/uploaded_files/cor...,...,,,682040,22695,65761,1247262,271074,,07/06/2020,NaN

In [28]:
th.columns

Index(['coronaenquirycalls', 'cumulativepeopleinquarantine', 'negative',
       'numcallsstatehelpline', 'numicubeds', 'numisolationbeds',
       'numventilators', 'populationncp2019projection', 'positive', 'source1',
       'source2', 'state', 'tagpeopleinquarantine', 'tagtotaltested',
       'testpositivityrate', 'testspermillion', 'testsperpositivecase',
       'testsperthousand', 'totaln95masks', 'totalpeoplecurrentlyinquarantine',
       'totalpeoplereleasedfromquarantine', 'totalppe', 'totaltested',
       'unconfirmed', 'updatedon', '_d415a'],
      dtype='object')

In [29]:
len(th.columns)

26

In [30]:
# save to csv`
th.to_csv('tests_latest_state_level.csv', index=False)

## Zones

In [31]:
# get response from the web page
response = requests.get('https://api.covid19india.org/zones.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['zones'])

In [32]:
# save data in a dataframe
zo = pd.DataFrame(parsed['zones'])

# first few rows
zo.head(3)

,district,districtcode,lastupdated,source,state,statecode,zone
0,Nicobars,AN_Nicobars,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Green
1,North and Middle Andaman,AN_North and Middle Andaman,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Green
2,South Andaman,AN_South Andaman,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Red

In [33]:
# save to csv`
zo.to_csv('zones.csv', index=False)

## National level daily

In [34]:
# get response from the web page
response = requests.get('https://api.covid19india.org/data.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['cases_time_series', 'statewise', 'tested'])

In [35]:
# save data in a dataframe
national = pd.DataFrame(parsed['cases_time_series'])

# first few rows
national.head()

,dailyconfirmed,dailydeceased,dailyrecovered,date,totalconfirmed,totaldeceased,totalrecovered
0,1,0,0,30 January,1,0,0
1,0,0,0,31 January,1,0,0
2,0,0,0,01 February,1,0,0
3,1,0,0,02 February,2,0,0
4,1,0,0,03 February,3,0,0

In [36]:
# list of columns
national.columns

Index(['dailyconfirmed', 'dailydeceased', 'dailyrecovered', 'date',
       'totalconfirmed', 'totaldeceased', 'totalrecovered'],
      dtype='object')

In [37]:
# rearrange columns
national = national[['date', 'totalconfirmed', 'totaldeceased', 'totalrecovered', 
                     'dailyconfirmed', 'dailydeceased', 'dailyrecovered']]
# first few rows
national.head()

,date,totalconfirmed,totaldeceased,totalrecovered,dailyconfirmed,dailydeceased,dailyrecovered
0,30 January,1,0,0,1,0,0
1,31 January,1,0,0,0,0,0
2,01 February,1,0,0,0,0,0
3,02 February,2,0,0,1,0,0
4,03 February,3,0,0,1,0,0

In [38]:
# save to csv`
national.to_csv('nation_level_daily.csv', index=False)

## National level latest

In [39]:
# save data in a dataframe
state_level = pd.DataFrame(parsed['statewise'])

# first few rows
state_level.head()

,active,confirmed,deaths,deltaconfirmed,deltadeaths,deltarecovered,lastupdatedtime,migratedother,recovered,state,statecode,statenotes
0,127018,258090,7207,605,0,4,08/06/2020 10:54:46,13,123852,Total,TT,
1,43601,85975,3060,0,0,0,07/06/2020 19:53:47,0,39314,Maharashtra,MH,
2,14396,31667,272,0,0,0,08/06/2020 01:37:48,0,16999,Tamil Nadu,TN,2 deaths cross notified to other states from C...
3,17125,28936,812,0,0,0,07/06/2020 22:14:47,0,10999,Delhi,DL,"[10-May]\nDelhi bulletins in the morning, cont..."
4,5205,20097,1249,0,0,0,07/06/2020 20:01:48,0,13643,Gujarat,GJ,

In [40]:
# list of columns
state_level.columns

Index(['active', 'confirmed', 'deaths', 'deltaconfirmed', 'deltadeaths',
       'deltarecovered', 'lastupdatedtime', 'migratedother', 'recovered',
       'state', 'statecode', 'statenotes'],
      dtype='object')

In [41]:
# rearrange columns
state_level = state_level[['state', 'statecode', 'lastupdatedtime',  
                           'confirmed', 'active', 'deaths', 'recovered',
                           'deltaconfirmed', 'deltadeaths', 'deltarecovered', 'statenotes']]
# first few rows
state_level.head()

,state,statecode,lastupdatedtime,confirmed,active,deaths,recovered,deltaconfirmed,deltadeaths,deltarecovered,statenotes
0,Total,TT,08/06/2020 10:54:46,258090,127018,7207,123852,605,0,4,
1,Maharashtra,MH,07/06/2020 19:53:47,85975,43601,3060,39314,0,0,0,
2,Tamil Nadu,TN,08/06/2020 01:37:48,31667,14396,272,16999,0,0,0,2 deaths cross notified to other states from C...
3,Delhi,DL,07/06/2020 22:14:47,28936,17125,812,10999,0,0,0,"[10-May]\nDelhi bulletins in the morning, cont..."
4,Gujarat,GJ,07/06/2020 20:01:48,20097,5205,1249,13643,0,0,0,

In [42]:
# save to csv`
state_level.to_csv('state_level_latest.csv', index=False)

## National level tests daily

In [43]:
# save data in a dataframe
tested_daily = pd.DataFrame(parsed['tested'])

# first few rows
tested_daily.head()

,individualstestedperconfirmedcase,positivecasesfromsamplesreported,samplereportedtoday,source,testpositivityrate,testsconductedbyprivatelabs,testsperconfirmedcase,testspermillion,totalindividualstested,totalpositivecases,totalsamplestested,updatetimestamp
0,75.64,,,Press_Release_ICMR_13March2020.pdf,1.20%,,83.33,5,5900,78,6500,13/03/2020 00:00:00
1,81.57,,,ICMR_website_update_18March_6PM_IST.pdf,1.14%,,87.50,10,12235,150,13125,18/03/2020 18:00:00
2,73.96,,,ICMR_website_update_19March_10AM_IST_V2.pdf,1.26%,,79.26,10,12426,168,13316,19/03/2020 10:00:00
3,72.99,,,ICMR_website_update_19March_6PM_IST.pdf,1.28%,,77.88,11,13285,182,14175,19/03/2020 18:00:00
4,65.47,,,ICMR_website_update_20March_10AM_IST.pdf,1.43%,,69.79,11,13486,206,14376,20/03/2020 10:00:00

In [44]:
# list of columns
tested_daily.columns

Index(['individualstestedperconfirmedcase', 'positivecasesfromsamplesreported',
       'samplereportedtoday', 'source', 'testpositivityrate',
       'testsconductedbyprivatelabs', 'testsperconfirmedcase',
       'testspermillion', 'totalindividualstested', 'totalpositivecases',
       'totalsamplestested', 'updatetimestamp'],
      dtype='object')

In [45]:
# rearrange columns
tested_daily = tested_daily[['updatetimestamp', 'totalsamplestested', 'totalindividualstested', 
                             'totalpositivecases', 'testsperconfirmedcase', 
                             'individualstestedperconfirmedcase',  'testpositivityrate', 
                             'testsconductedbyprivatelabs', 'positivecasesfromsamplesreported', 
                             'samplereportedtoday','source']]
# first few rows
tested_daily.head()

,updatetimestamp,totalsamplestested,totalindividualstested,totalpositivecases,testsperconfirmedcase,individualstestedperconfirmedcase,testpositivityrate,testsconductedbyprivatelabs,positivecasesfromsamplesreported,samplereportedtoday,source
0,13/03/2020 00:00:00,6500,5900,78,83.33,75.64,1.20%,,,,Press_Release_ICMR_13March2020.pdf
1,18/03/2020 18:00:00,13125,12235,150,87.50,81.57,1.14%,,,,ICMR_website_update_18March_6PM_IST.pdf
2,19/03/2020 10:00:00,13316,12426,168,79.26,73.96,1.26%,,,,ICMR_website_update_19March_10AM_IST_V2.pdf
3,19/03/2020 18:00:00,14175,13285,182,77.88,72.99,1.28%,,,,ICMR_website_update_19March_6PM_IST.pdf
4,20/03/2020 10:00:00,14376,13486,206,69.79,65.47,1.43%,,,,ICMR_website_update_20March_10AM_IST.pdf

In [46]:
# save to csv`
tested_daily.to_csv('tests_daily.csv', index=False)

# District level latest

In [47]:
response = requests.get('https://api.covid19india.org/v2/state_district_wise.json')
content = response.content
parsed = json.loads(content)
len(parsed)

37

In [48]:
# parsed

In [49]:
dfs = []

for i in parsed:
#     print(i['state'])
    state_name = i['state']
    state_code = i['statecode']
    
#     df = pd.DataFrame()

    df = pd.DataFrame(i['districtData'])
    df['state name'] = state_name
    df['state code'] = state_code
    
    dfs.append(df)

In [50]:
district_level = pd.concat(dfs)
district_level.head()

,district,notes,active,confirmed,deceased,recovered,delta,state name,state code
0,Unassigned,,8829,8829,0,0,"{'confirmed': 579, 'deceased': 0, 'recovered': 0}",State Unassigned,UN
0,Nicobars,,0,0,0,0,"{'confirmed': 0, 'deceased': 0, 'recovered': 0}",Andaman and Nicobar Islands,AN
1,North and Middle Andaman,,0,1,0,1,"{'confirmed': 0, 'deceased': 0, 'recovered': 0}",Andaman and Nicobar Islands,AN
2,South Andaman,,0,32,0,32,"{'confirmed': 0, 'deceased': 0, 'recovered': 0}",Andaman and Nicobar Islands,AN
0,Foreign Evacuees,,126,131,0,5,"{'confirmed': 0, 'deceased': 0, 'recovered': 0}",Andhra Pradesh,AP

In [51]:
# container for values
delta_confirmed = []
delta_deceased = []
delta_recovered = []

for i in district_level['delta'].values:
    delta_confirmed.append(i['confirmed'])
    delta_deceased.append(i['deceased'])
    delta_recovered.append(i['recovered'])
    
district_level['delta_confirmed'] = delta_confirmed
district_level['delta_deceased'] = delta_deceased
district_level['delta_recovered'] = delta_recovered

district_level = district_level.drop('delta', axis=1)

In [52]:
# list of columns
district_level.columns

Index(['district', 'notes', 'active', 'confirmed', 'deceased', 'recovered',
       'state name', 'state code', 'delta_confirmed', 'delta_deceased',
       'delta_recovered'],
      dtype='object')

In [53]:
# rearrange columns
district_level = district_level[['state name', 'state code', 'district', 
                                 'confirmed', 'active', 'deceased', 'recovered',
                                 'delta_confirmed', 'delta_deceased',
                                 'delta_recovered', 'notes']]
# first few rows
district_level.head()

,state name,state code,district,confirmed,active,deceased,recovered,delta_confirmed,delta_deceased,delta_recovered,notes
0,State Unassigned,UN,Unassigned,8829,8829,0,0,579,0,0,
0,Andaman and Nicobar Islands,AN,Nicobars,0,0,0,0,0,0,0,
1,Andaman and Nicobar Islands,AN,North and Middle Andaman,1,0,0,1,0,0,0,
2,Andaman and Nicobar Islands,AN,South Andaman,32,0,0,32,0,0,0,
0,Andhra Pradesh,AP,Foreign Evacuees,131,126,0,5,0,0,0,

In [54]:
# save to csv`
district_level.to_csv('district_level_latest.csv', index=False)